#exp {
      font-size: 1.8em;
      position: relative;
      color: #404040;
      top: 5%;
      float: right;
      right: 6%;
      padding: 2%;
      bottom: 2%;
      z-index: 99;
      cursor: default;
      user-select: none;
  }
