#keypad{
  position: absolute;
  top: 33%;
  left: 6%;
  right: 6%;
  bottom: 2%;
  height: 62%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;



  .key{
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;  // Default to full width
    padding: 0.3% 1.2em;
    overflow: hidden; // Or flex might break
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    user-select: none;
    width: 25%;
    font-size: 1.8em;
    background: rgba(0, 0, 0,0.9);
    border-radius: 4%;
    text-align: center;
    vertical-align: middle !important;
    border: 1px solid lighten(#1e090f, 2%);
    border-top: 0px;
    box-shadow: 1px 3px  4px black;
  }

  #key-AC{
    width: 50%;
    background: repeating-linear-gradient(45deg, #000000 , #4d1300 3%);
  }

  #key-0{
    width: 50%;
  }

  #key-eq{
    width: 50%;
    background: linear-gradient(45deg, #1e090f, #000000, #1e090f, #000000, #1e090f, #000000,);
  }
}
